.banner{
    background-color: yellow;
    width: 1900px;
    height: 300px;
    display:flex;
}
.logo{
    width: 1200px;
    height: 150px;
    background-color: green;
    margin-left: 50px;
    margin-top: 75px;
    border: white ridge;


    

}
.cover{
    width:400px;
    background-color: blue;
    height: 150px;
    margin-left: 20px;
    margin-top: 75px;
    border: white ridge;


}
.part{
    background-color: gray;
    width: 1900px;
    height: 300px;
}
